<template>
    <div class="dropdown-item">
        <strong>{{ comment.user.name }}</strong> - {{ comment.title }}<br>
        <small>No post: {{ comment.post.title }}</small>
        <span @click.prevent="markAsRead(notification.id)" class="float-lg-right badge badge-success" style="cursor: pointer;">
            Ler
        </span>
    </div>
</template>

<script>
    export default {
        props: ['notification'],
        computed: {
            comment(){
                return this.notification.data.comment
            }
        },
        methods: {
            markAsRead(idNotification){
                this.$store.dispatch('markAsRead', {id: idNotification})
            }
        }
    }
</script>
